<?xml version="1.0" encoding="UTF-8"?>

<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <parent>
        <artifactId>{{context.project}}</artifactId>
        <groupId>{{context.group}}</groupId>
        <version>1.0</version>
        <relativePath>../pom.xml</relativePath>
    </parent>

    <modelVersion>4.0.0</modelVersion>
    <artifactId>gen</artifactId>
    <name>gen</name>

    <properties>
        <mysql.username>root</mysql.username>
        <mysql.password>123456</mysql.password>
        <mysql.host>localhost</mysql.host>
        <mysql.port>3306</mysql.port>
        <mysql.database>test</mysql.database>
    </properties>

    <build>
        <plugins>
            <!-- begin of flyway -->
            <plugin>
                <groupId>org.flywaydb</groupId>
                <artifactId>flyway-maven-plugin</artifactId>
                <version>6.0.8</version>
                <configuration>
                    <url>jdbc:mysql://${mysql.host}:${mysql.port}/${mysql.database}?serverTimezone=Asia/Shanghai</url>
                    <user>${mysql.username}</user>
                    <password>${mysql.password}</password>
                    <locations>filesystem:../admin-app/src/main/resources/db/migration</locations>
                </configuration>
                <dependencies>
                    <dependency>
                        <groupId>mysql</groupId>
                        <artifactId>mysql-connector-java</artifactId>
                        <version>${mysql.version}</version>
                    </dependency>
                </dependencies>
            </plugin>
            <!-- end of flyway -->


            <!-- begin of jooq -->
            <plugin>
                <groupId>org.jooq</groupId>
                <artifactId>jooq-codegen-maven</artifactId>
                <version>3.12.3</version>

                <executions>
                    <execution>
                        <goals>
                            <goal>generate</goal>
                        </goals>
                    </execution>
                </executions>

                <dependencies>
                    <dependency>
                        <groupId>mysql</groupId>
                        <artifactId>mysql-connector-java</artifactId>
                        <version>${mysql.version}</version>
                    </dependency>
                </dependencies>

                <configuration>
                    <!--<skip>true</skip> &lt;!&ndash; 默认情况下应该跳过生成 &ndash;&gt;-->

                    <jdbc>
                        <driver>com.mysql.cj.jdbc.Driver</driver>
                        <url>jdbc:mysql://${mysql.host}:${mysql.port}/${mysql.database}?serverTimezone=Asia/Shanghai
                        </url>
                        <user>${mysql.username}</user>
                        <password>${mysql.password}</password>
                    </jdbc>

                    <generator>
                        <database>
                            <name>org.jooq.meta.mysql.MySQLDatabase</name>
                            <outputSchemaToDefault>true</outputSchemaToDefault> <!-- 不生成库名，防止h2问题-->
                            <inputSchema>test</inputSchema>                     <!-- 需要生成代码的数据库 -->
                            <includes>.*</includes>                             <!-- 需要生成代码的表 -->
                            <excludes>flyway_schema_history</excludes>          <!-- 需要排除的表 -->
                        </database>
                        <target>
                            <packageName>{{context.group}}.{{context.project}}.dal.gen</packageName> <!-- 生成的包名 -->
                            <directory>${project.parent.basedir}/app/src/main/java/
                            </directory>          <!-- 生成的代码位置 -->
                        </target>
                        <generate>
                            <daos>true</daos>
                            <springAnnotations>true</springAnnotations>
                        </generate>
                    </generator>
                </configuration>
            </plugin>
            <!-- end of jooq -->
        </plugins>
    </build>
</project>
